<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type='text/css' href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1> {{>header}} </h1>
   
     <h2>  {{name}} </h2>

         <p class="about">
        <br>
        I am a computer science student at Graphic Era University, Dehradun.
        This is a weather website made using html , css , javascript and backend is made 
        using Nodejs.
        <br> 
    </p>
    
    <footer class="footer">
         {{>footer}}
    </footer>
    
     </div>
</body>
</html>