<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type='text/css' href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    {{>header}}
     <p> {{info}}  </p>
      <footer class="footer">
         {{>footer}}
    </footer>
    </div>
</body>
</html>